.borderFirstColour {
  border: 5px solid rgb(165, 30, 30);
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.outlineSecondColour {
  outline: 5px solid rgb(64, 64, 64);
  animation-name: blink_2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  50% {
    border-color: rgb(177, 26, 15);
  }
}

@keyframes blink_2 {
  50% {
    outline-color: rgb(8, 8, 202);
  }
}
